DB_USER=postgres
DB_HOST=localhost
DB_NAME=groupproject
DB_PASSWORD=yourpassword
DB_PORT=5432
PORT=3000
CLERK_PUBLISHABLE_KEY=pk_test_Y2xpbWJpbmctbGlnZXItNzYuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_JyH0GOhU9EgK04um3YbQdxuzJtxKjOZMlAYxXybhvW
