<div class="filters-card">
  <div class="filters-top">
    <span>Filters</span><button type="button" class="clear-button" (click)="clear()">Clear</button>
  </div>
  <div class="filters-grid">
    @for (template of templates; track template.name) {
      <label class="filter-field"
        ><span>{{ template.name }}</span
        ><select [(ngModel)]="selected[template.name]" (ngModelChange)="update()">
          <option value="Any">Any {{ template.name.toLowerCase() }}</option>
          @for (item of template.values; track item) {
            <option [value]="item">{{ item }}</option>
          }
        </select></label
      >
    }
  </div>
</div>
